{% extends 'bootstrap-modal-layout.html.twig' %}
{% block title %}{{ 'classroom.select_course'|trans }}{% endblock %}
{% set modal_class= "modal-lg" %}
{% do script(['corporatetrainingbundle/js/project-plan/online-course-pick/index.js']) %}
{% block body %}
<div id="courses-picker-body">
      <ul class="nav nav-tabs mbl" style="margin-top: -15px">
      <li class="js-tab-link active" data-type="js-manage-data-list" data-url="{{ path('project_plan_ajax_match_manage_course',{projectPlanId:projectPlanId}) }}" role="presentation"><a href="javascript:;">{{ 'classroom.course_pick.manage_tab'|trans }}</a></li>
      <li class="js-tab-link" data-type="js-use-permission-data-list" data-url="{{ path('project_plan_ajax_match_use_permission_course',{projectPlanId:projectPlanId}) }}" role="presentation"><a href="javascript:;">{{ 'classroom.course_pick.use_permission_tab'|trans }}</a></li>
    </ul>

  <input id="itemIds" type="hidden" value="[]">
  <div class="row mtl">
    <div class="col-md-12">
      <div class="courses-list">
          <div class="js-tab-block-wrap">
            <div class="tab-block js-tab-sec is-active">
              <div class="table table-striped data-list js-manage-data-list" data-type="js-manage-data-list">
                {{ render(controller('CorporateTrainingBundle:ProjectPlan/Item/OnlineCourseItem:ajaxMatchManageCourse', {projectPlanId:projectPlanId})) }}
              </div>
            </div>
            <div class="tab-block js-tab-sec">
              <div class="table table-striped data-list js-use-permission-data-list" data-type="js-use-permission-data-list">
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  <button id="js-save" data-url="{{ path('project_plan_course_match') }}" class="btn btn-primary pull-right">{{ 'classroom.add_course_btn'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}