<div class="es-filter js-tab-filter">
  <ul class="nav nav-sort nav-sort-mobile clearfix">
    <li>
      <a href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'latest'}) }}" class="{% if (orderBy == 'latest') %}active{% endif %}">
        {{ 'site.datagrid.filter.latest'|trans }}
      </a>
    </li>
    <li>
      <a href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'studentNum'}) }}" class="{% if (orderBy == 'studentNum') %}active{% endif %}">
        {{ 'site.datagrid.filter.hotest'|trans }}
      </a>
    </li>
    <li>
      <a href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'recommendedSeq'}) }}" class="{% if (orderBy == 'recommendedSeq') %}active{% endif %}">
        {{ 'site.datagrid.filter.recommended'|trans }}
      </a>
    </li>
  </ul>
  <div class="filter hidden-xs">
    {% if is_plugin_installed('vip') %}
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="es-icon es-icon-crown text-warning"></i>
          {% if (currentLevelId == 'all') %}
            {{ 'search.vip_courses'|trans }}
          {% endif %}
          {% for level in levels %}
            {% if (level.id == currentLevelId) %}
              {{ level.name|sub_text(4) }}
            {% endif %}
          {% endfor %}
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="{% if (currentLevelId == 'all') %}active {% endif %}">
            <a href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: 'all'},orderBy: orderBy}) }}">{{ 'category.all_category'|trans }}</a>
          </li>
          {% for level in levels %}
            <li role="presentation" class="{% if (level.id == currentLevelId) %}active {% endif %}">
              <a href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: level.id},orderBy: orderBy}) }}">{{ level.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <label class="checkbox-inline">
      <input type="checkbox" {% if type == 'live' %} checked="true" {% endif %} id="live" value="
                {% if type == 'all' %}
                  {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: 'live',price: price,currentLevelId: currentLevelId},orderBy: orderBy}) }}
                {% else %}
                  {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: 'all',price: price,currentLevelId: currentLevelId},orderBy: orderBy}) }}
                {% endif %}">
      {{ 'search.live_courses'|trans }}
    </label>
  </div>
  <div class="filter-action visible-xs js-filter-action">
    <span>分类</span>
    <i class="es-icon es-icon-keyboardarrowdown"></i>
  </div>
</div>
