{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_data_center_project_plan_detail' %}

{% do
script(['libs/select2.js', 'corporatetrainingbundle/js/admin/data/projectPlan/detail/index.js']) %}

{% block main %}
  <div id="project_plan-search-container" class="aside-panel">
    <form id="project_plan-search-form" class="form-inline ct-well ct-mbl" action="" method="get" novalidate="novalidate">
      <div class="form-group prl js-learn-data">
        <div class="ct-label ft-sm prl">{{ 'admin.data_center.project_plan.date.filter'|trans }}</div>
        <div id="date-range-picker" class="dis-i-b">
          <span class="user-data-select">
            <input class="form-control js-date-range-input" style="width:200px;" type="text" name="dataSearchTime" value="{{ dataSearchTime.startDateTime|date('Y/m/d') }}-{{ dataSearchTime.endDateTime|date('Y/m/d') }}">
            <i class="es-icon es-icon-arrowdropdown"></i>
          </span>
        </div>
      </div>
      <div class="form-group prl">
        <div class="ct-label ft-sm prl">{{ 'admin.data_center.project_plan.org.filter'|trans }}</div>
        <div class="dis-i-b">
          {% include 'org-select/index.html.twig' with {
              id: 'project_plan-manage-orgCode',
              data: build_org_tree(app.user.manageOrgCodes),
              placeholder: 'site.org.select_placeholder'|trans,
              treeName: 'orgCode',
            }
          %}
        </div>
      </div>
      <div class="form-group prl">
        <div class="ct-label ft-sm prl">{{ 'admin.data_center.project_plan.category.filter'|trans }}</div>
        <div class="dis-i-b">
          <select style="max-width:150px;" class="form-control" name="categoryId">
            {{ select_options(category_choices('projectPlan'), app.request.query.get('categoryId'), 'my.department.course_learn_data.all_category'|trans) }}
          </select>
        </div>
      </div>
      <div class="form-group prl">
        <div class="ct-label ft-sm prl">{{ 'admin.data_center.project_plan.status.filter'|trans }}</div>
        <div class="dis-i-b">
          <select class="form-control department-manage-search-form-group__type" id="status" name="status">
            {{ select_options(dict('dataCenterProjectPlanStatus'), app.request.query.get('status') ? app.request.query.get('status') : 'all') }}
          </select>
        </div>
      </div>
      <div class="form-group prl">
        <div class="ct-label ft-sm prl">{{ 'admin.data_center.project_plan.filter'|trans }}</div>
        <input style="max-width:180px;" type="text" id="nameLike" name="nameLike" class="form-control" value="{{ app.request.query.get('nameLike') }}" placeholder="{{ 'admin.data_center.project_plan.filter.input_placeholder'|trans }}">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">{{'form.btn.search'|trans}}</button>
        <a class="btn btn-success ct-mlm" href="{{ path('exporter_export', {type: 'data_center_project_plan_detail', dataSearchTime: dataSearchTime.startDateTime|date('Y/m/d')~'-'~dataSearchTime.endDateTime|date('Y/m/d'), nameLike: app.request.query.get('nameLike') ? app.request.query.get('nameLike') : '', orgCode: app.request.query.get('orgCode')?app.request.query.get('orgCode') : '1.', categoryId: app.request.query.get('categoryId')? app.request.query.get('categoryId'):'', status: app.request.query.get('status') ? app.request.query.get('status') : 'all'}) }}">{{'project_plan.btn.export_btn'|trans}}</a>
      </div>
    </form>

    <div id="project_plan-detail" class="tableData" v-cloak="v-cloak">
      <el-table :data="tableData" style="width: 100%" max-height="600" :header-row-class-name="getRowClass">
        <el-table-column fixed="fixed" label="{{ 'project_plan.name'|trans }}" width="200">
          <template slot-scope="scope">
            <img class="el_pic" :src="scope.row.coverImgUri"/>
              <el-popover placement="top" trigger="hover" v-if="nameLen(scope.row.name)">
                <template>
                   <div>${scope.row.name}</div>
                </template>
                <div slot="reference" class="el_course-name plm">${scope.row.name}</div>
              </el-popover>
            <div  v-else class="el_course-name plm" :title='scope.row.name'>${scope.row.name}</div>
          </template>
        </el-table-column>
        <el-table-column label="{{ 'project_plan.project_plan_date'|trans }}" width="150">
          <template slot-scope="scope">
            <div>${scope.row.startTime}</div>
            <div>${scope.row.endTime}</div>
          </template>
        </el-table-column>
        <el-table-column label="{{ 'project_plan.org'|trans }}" width="150">
          <template slot-scope="scope">
            <div class="dis-i-b mrm">${scope.row.org.name}</div>
            <div><span class="mrm">{{ 'site.org.code'|trans }}</span>${scope.row.org.code}</div>
          </template>
        </el-table-column>
        <el-table-column prop="categoryName" label="{{ 'project_plan.classification'|trans }}" width="150"></el-table-column>
        <el-table-column label="{{ 'admin.data_center.project_plan.detail.courses_num'|trans }}" width="150">
          <template slot-scope="scope">
            <div><span class="mrm">{{ 'project_plan.online_course'|trans }}：</span>${scope.row.coursesNum}</div>
            <div><span class="mrm">{{ 'project_plan.offline_course'|trans }}：</span>${scope.row.offlineCoursesNum}</div>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="{{ 'admin.data_center.project_plan.detail.status'|trans }}" width="130"></el-table-column>
        <el-table-column prop="offlineCoursesHours" :render-header='renderHeader' label="{{ 'admin.data_center.project_plan.detail.offline_course.hours'|trans }}"></el-table-column>
        <el-table-column prop="membersNum" label="{{ 'admin.data_center.project_plan.detail.members_num'|trans }}" width="130"></el-table-column>
        <el-table-column prop="progress" label="{{ 'project_plan.finishing_rate'|trans }}" width="130"></el-table-column>
        {% if is_plugin_installed('Survey') %}
          <el-table-column prop="averageScore" label="{{ 'admin.data_center.project_plan.detail.survey'|trans }}" width="110"></el-table-column>
        {% endif %}
        <el-table-column fixed="right" label="{{ 'admin.user.fields.operation_label'|trans }}" width="160">
          <template slot-scope="scope">
            <a :href="scope.row.memberList" target="_blank" class="el_link">{{ 'admin.data_center.project_plan.detail.memberlist.check'|trans }}</a>
            {% if is_plugin_installed('Survey') %}
              <a :href="scope.row.teacher_evaluate_list" target="_blank" class="el_link">{{ 'admin.data_center.project_plan.detail.evaluate.check'|trans }}</a>
            {% endif %}
          </template>
        </el-table-column>
      </el-table>
      <div class="data-list">
        {% include 'admin/data/projectPlan/detail-tr.html.twig'%}
      </div>
    </div>
  </div>
{% endblock %}