{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_user_manage' %}

{% set script_controller = 'corporatetrainingbundle/controller/user/list' %}

{% block page_buttons %}
{% endblock %}

{% block main %}

  {{ web_macro.flash_messages() }}

  <form id="user-search-form" class="form-inline ct-well ct-mbl" action="" method="get" novalidate>
    <div class="form-group department-manage-search-form-group prl">
      {% include 'org-select/index.html.twig' with {
          id: 'user-orgCode',
          data: build_org_tree(app.user.manageOrgCodes),
          placeholder: '--组织机构--',
          treeName: 'orgCode',
        }
     %}
    </div>

    <div class="dis-i-b prl">
      {% include 'post/post-tree-select.html.twig' with {modal: 'list'} %}
    </div>
  
    <div class="form-group prl">
      <select class="form-control" name="roles">
        {{ select_options(dict('userRole')|array_merge(allRoles), app.request.query.get('roles'), 'admin.user.list.roles'|trans) }}
      </select>
    </div>
    <div class="form-group prl">
      <select id="keywordType" name="keywordType" class="form-control">
        {{ select_options(dict('userKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'truename') }}
      </select>
    </div>

    <div class="form-group prl">
      <input type="text" id="keyword" name="keyword" class="form-control"
              value="{{ app.request.query.get('keyword') }}"
              placeholder="{{ 'form.placeholder.keyword'|trans }}">
    </div>

    <div class="form-group prl">
      <select class="form-control" name="locked">
        {{ select_options(dict('userLocked'), app.request.query.get('locked'), 'admin.user.list.locked'|trans) }}
      </select>
    </div>

    <div class="form-group prl">
      <label>{{ 'admin.user.hire_date'|trans }}:</label>
      <input type="text" class="form-control" name="hireDate_GTE" id="hireDate_GTE"
             value="{{ app.request.query.get('hireDate_GTE') }}" placeholder="{{ 'admin.user.hire_date.start_time'|trans }}">
      <input type="text" class="form-control ct-mlm" name="hireDate_LTE" id="hireDate_LTE"
             value="{{ app.request.query.get('hireDate_LTE') }}" placeholder="{{ 'admin.user.hire_date.end_time'|trans }}">
    </div>
    <div class="form-group prl">
       <button class="btn btn-primary">{{ 'admin.user.basic.basic_tab.search_btn'|trans }}</button>
    </div>
    {% if has_permission('admin_user_export') and is_plugin_installed('UserImporter') %}
      <div class="form-group prl">
      <a class="btn btn-primary" id="user-export" data-toggle="modal" data-target="#modal"
         data-url="{{ path('admin_user_export') }}">{{ 'admin.user.basic.basic_tab.exporter_btn'|trans }}</a>
      </div>
    {% endif %}

    <div class="form-group prl">
      {% if setting('sync_department_setting.enable', 0) %}
        <span data-toggle="tooltip" data-placement="left" title="{{ 'admin.user.list.tips_dingding'|trans }}">
          {% if has_permission('admin_user_create') %}
            <a class="btn btn-success ct-mrm" data-url="{{ path('admin_user_create') }}" data-toggle="modal" data-target="#modal" {% if setting('sync_department_setting.enable', 0) %}disabled{% endif %}>{{ 'admin.user.basic.basic_tab.user_create_btn'|trans }}</a>
          {% endif %}
        </span>
        <span data-toggle="tooltip" data-placement="left" title="{{ 'admin.user.list.tips_dingding'|trans }}">
          {% if is_plugin_installed('UserImporter') and has_permission('admin_user_import') %}
            <a class="btn btn-success ct-mrm" data-url="{{ path('importer_index', {type: 'user'}) }}" data-toggle="modal" data-target="#modal"{% if setting('sync_department_setting.enable', 0) %}disabled{% endif %}>{{ 'admin.user.basic.basic_tab.importer_btn'|trans }}</a>
          {% endif %}
        </span>
      {% elseif is_plugin_installed('LDAP') and get_parameter('ldap_login_enabled') %}
        <span data-toggle="tooltip" data-placement="left" title="{{ 'admin.user.list.tips_ldap'|trans }}">
          {% if has_permission('admin_user_create') %}
            <a class="btn btn-success ct-mrm" data-url="{{ path('admin_user_create') }}" data-toggle="modal" data-target="#modal" {% if get_parameter('ldap_login_enabled') %}disabled{% endif %}>{{ 'admin.user.basic.basic_tab.user_create_btn'|trans }}</a>
          {% endif %}
        </span>
        <span data-toggle="tooltip" data-placement="left" title="{{ 'admin.user.list.tips_ldap'|trans }}">
          {% if is_plugin_installed('UserImporter') and has_permission('admin_user_import') %}
            <a class="btn btn-success ct-mrm" data-url="{{ path('importer_index', {type: 'user'}) }}" data-toggle="modal" data-target="#modal"{% if get_parameter('ldap_login_enabled') %}disabled{% endif %}>{{ 'admin.user.basic.basic_tab.importer_btn'|trans }}</a>
          {% endif %}
        </span>
      {% else %}
        {% if has_permission('admin_user_create') %}
          <a class="btn btn-success ct-mrm" data-url="{{ path('admin_user_create') }}" data-toggle="modal" data-target="#modal"><span class="es-icon es-icon-anonymous-iconfont"></span>{{ 'admin.user.basic.basic_tab.user_create_btn'|trans }}</a>
        {% endif %}
        {% if is_plugin_installed('UserImporter') and has_permission('admin_user_import') %}
          <a class="btn btn-success ct-mrm" data-url="{{ path('importer_index', {type: 'user'}) }}" data-toggle="modal" data-target="#modal"><span class="es-icon es-icon-anonymous-iconfont"></span>{{ 'admin.user.basic.basic_tab.importer_btn'|trans }}</a>
        {% endif %}
      {% endif %}
    </div>
  </form>



  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>{{ 'user.fields.username_label'|trans }}</th>
      <th>{{ 'user.fields.truename_label'|trans }}</th>
      {% include 'org/parts/table-thead-tr.html.twig' %}
      <th>{{ 'admin.user.post'|trans }}</th>
      <th>{{ 'admin.user.hire_date'|trans }}</th>
      <th width="10%">{{ 'admin.user.list.operation'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      {% if maxUsersNumber|default(0) > 0 and rootOrgId in app.user.orgIds %}
        <span class="mrl">{{ 'admin.user.list.user_enable_num'|trans }}<strong class="inflow-num">{{ userCountInfo.enable }}/{{ setting('max_users_number')|default(0) }}</strong>
        <span class="glyphicon glyphicon-question-sign color-gray text-sm js-data-popover" title="{{ 'admin.user.list.activate_user_limit_tips'|trans }}"
              data-container="body" data-toggle="popover" data-placement="bottom"
              data-content="{{ 'admin.user.list.max_users_number_tips'|trans({'%max_users_number%': setting('max_users_number')|default(0) })|raw }}">
        </span>
        </span>
        <span class="mrl outflow-num">{{'admin.user.list.user_disable_num'|trans}}<strong class="outflow-num">{{ userCountInfo.disable }}</strong></span>
      {% else %}
        <span class="mrl">{{'admin.user.manage.fields.user_total_num_label'|trans}}<strong class="inflow-num">{{ userCount - userLockedCount }}</strong></span>
        <span class="mrl outflow-num">{{'admin.user.list.user_disable_num'|trans}}<strong class="outflow-num">{{ userLockedCount }}</strong></span>
      {% endif %}

    </p>
    {% for user in users %}
      {% include 'admin/user/user-table-tr.html.twig' with {user:user,profile:profiles[user.id]} %}
    {% else %}
    <tr><td class="empty" colspan="20">{{ 'admin.user.list.empty'|trans }}</tr>
    {% endfor %}
    </tbody>
  </table>
  {% include 'admin/user/parts/batch-update-btn.html.twig' with {module:'user', formId:'user-table'} %}
  {{ admin_macro.paginator(paginator) }}
{% endblock %}
