{% extends 'admin/layout.html.twig' %}
{#{% do script(['libs/jquery-validation.js','corporatetrainingbundle/js/my/index.js'])%}#}

{% set menu = 'admin_train_teach_manage_project_plan_teaching' %}
{% import "common/data-dict-macro.html.twig" as dict_macro %}

{% block main %}
  {% include 'CorporateTrainingBundle::admin/train/teach-manage/project-plan-teaching/tab.html.twig' %}
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th width="25%">{{ 'teaching.project_plan.course.title'|trans }}</th>
      <th width="18%">{{ 'teaching.project_plan.course.time'|trans }}</th>
      <th>{{ 'teaching.project_plan.course.student_num'|trans }}</th>
      <th>
        <div>{{ 'teaching.project_plan.course.learn_time'|trans }}
          <span data-toggle="popover" data-trigger="hover" class="glyphicon glyphicon-question-sign color-gray text-sm js-data-popover" data-placement="top" data-content="{{ 'teaching.project_plan.course.learn_time.tips'|trans }}"></span>
        </div>
      </th>
      <th>{{ 'project_plan.member.progress'|trans }}</th>
      {% if is_plugin_installed('Survey') %}
        <th>{{ 'teaching.project_plan.course.survey'|trans }}</th>
      {% endif %}
      <th>{{ 'teaching.project_plan.course.operation'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if teachingCourses|default() %}
      {% for teachingCourse in teachingCourses %}
        {% set memberCount = count(teachingCourse.projectPlanMembers)|default(0) %}
        <tr>
          <td>
            {{ teachingCourse.title }}<br>
            <span class="text-muted text-sm">{{ 'teaching.project_plan.course.from'|trans }}{{ teachingCourse.projectPlan.name }}</span>
          </td>
          <td>
            {% if teachingCourse.item.startTime == 0 %}
              {{ '--'|trans }}
            {% else %}
              {{ teachingCourse.item.startTime|date('Y-m-d')  }}
            {% endif %}
            <br>
            {% if teachingCourse.item.endTime == 0 %}
              {{ '--'|trans }}
            {% else %}
              {{ teachingCourse.item.endTime|date('Y-m-d')  }}
            {% endif %}
          </td>
          <td class="ptl">{{ memberCount }}</td>
          <td class="ptl">
            {% set totalLearnTime = teachingCourse.courseData.itemCourseLearnTime/3600|default() %}
            {% if teachingCourse.courseData.hasCompulsoryLearnRecords and memberCount %}
              {{ (totalLearnTime/memberCount)|round(1, 'floor') }}/{{ totalLearnTime|round(1, 'floor') }}
            {% else %}
              {% if teachingCourse.item.endTime and date(teachingCourse.item.endTime) <= date() and teachingCourse.courseData.countCompulsoryCourseTasks and memberCount %}
                0/0
              {% else %}
                --/--
              {% endif %}
            {% endif %}
          </td>
          <td class="ptl">
            {% if teachingCourse.courseData.courseProgress and memberCount %}
              {{ percent(teachingCourse.courseData.courseProgress, memberCount) }}
            {% else %}
              {% if teachingCourse.item.endTime and date(teachingCourse.item.endTime) <= date() and teachingCourse.courseData.countCompulsoryCourseTasks and memberCount %}
                0%
              {% else %}
                --
              {% endif %}
            {% endif %}
          </td>
          {% if is_plugin_installed('Survey') %}
            {% set avgEvaluate = data('ProjectPlanCourseSurveyAverageScore', {'courseId': teachingCourse.id, 'type': 'course', 'projectPlanId': teachingCourse.item.projectPlanId}) %}
            <td class="ptl">{% if avgEvaluate %}{{ avgEvaluate }}/5.00{% else %}--/5.00{% endif %}</td>
          {% endif %}
          <td>
            <a class="btn btn-default btn-sm mts" href="{{ path('course_set_manage_base', {id: teachingCourse.courseSetId}) }}" target="_blank">{{ 'site.default.manage'|trans }}</a>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="20"><div class="empty">{{'teaching.project_plan.course.empty'|trans}}</div></td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  <nav class="text-center">
    {{ admin_macro.paginator(paginator) }}
  </nav>
{% endblock %}