{% for projectPlan in resultSets if resultSets %}
<div class="c-project-plan">
  <div class="c-project-plan__l">
    <a class="dis-blk" href="{{ path('project_plan_detail', {id: projectPlan.id}) }}" target="_blank">
      <img class="c-project-plan__img" src="{{ filepath(projectPlan['cover']['large']|default(''), 'project-plan.png') }}">
    </a>
  </div>
  <div class="c-search-project-plan__bd">
    <a class="c-project-plan__title" href="{{ path('project_plan_detail', {id: projectPlan.id}) }}" target="_blank">{{ projectPlan.name|highlight_keyword(app.request.get('q')|default('')) }}</a>

    {% set category = data('Category', {'categoryId': projectPlan.categoryId}) %}
    {% if category|default('') %}
      <div class="c-project-plan__lab-wrap">
        <div class="c-project-plan__lab ct-label ct-label--theme">{{ category.name|default('')}}</div>
      </div>
    {% endif %}
    <div class="c-project-plan__info-wrap">
      <div class="c-project-plan__info">
        <div class="c-project-plan__info-l">
          {{ 'search.projectplan.time'|trans }}
        </div>
        <div class="c-project-plan__info-r">
          <span>{% if projectPlan.startTime %}{{ projectPlan.startTime|default('--')|date('Y-m-d')}}{% else %}--{% endif %} {{ 'search.projectplan.to'|trans }} {% if projectPlan.startTime %}{{ projectPlan.endTime|default('--')|date('Y-m-d') }}{% else %}--{% endif %}</span>
        </div>
    </div>
      <div class="c-project-plan__info">
        <div class="c-project-plan__info-l">
          {{ 'search.projectplan.deadline'|trans }}
        </div>
        <div class="c-project-plan__info-r">
          <span>{{ projectPlan.enrollmentStartDate|default('--')|date('Y-m-d')}} {{ 'search.projectplan.to'|trans }} {{ projectPlan.enrollmentEndDate|default('--')|date('Y-m-d')}}</span>
        </div>
    </div>
    </div>
  </div>
</div>
{% else %}
  <div class="empty">{{'search.empty'|trans({'%name%':'search.projectplan.projectplan'|trans})}}</div>
{% endfor %}
