{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="user-table-tr-1">
    <td>
      {{ courseSet.title|default('')}}
    </td>

    <td>
      {{ category.name|default('--') }}
    </td>
    <td>
      {{ courseSet.createdTime|date('Y-n-d') }}
    </td>
    <td>
      {{ courseSet.averageLearnTime|time_format }}
    </td>
    <td>
      {{ courseSet.studentNum }}
    </td>
    <td>
      {{ courseSet.learnedStudentNum }}
    </td>
    {% if is_plugin_installed('Survey') %}
        <td>
          {% if courseSet.surveyScore|default(0) %}
            {{ courseSet.surveyScore }}
          {% else  %}
            --
          {% endif %}
        </td>
    {% endif %}
</tr>
