  <div class="es-filter js-tab-filter">
    <ul class="nav nav-sort nav-sort-mobile">
      <li><a href="{{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'createdTime'}) }}" class="{% if (orderBy == 'createdTime') %} active {% endif %}">{{'site.datagrid.filter.latest'|trans}}</a></li><li><a href="{{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'studentNum'}) }}" class="{% if (orderBy == 'studentNum') %} active {% endif %}">{{'site.datagrid.filter.hotest'|trans}}</a></li><li><a href="{{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'recommendedSeq'}) }}" class="{% if (orderBy == 'recommendedSeq') %} active {% endif %}">{{'site.datagrid.filter.recommended'|trans}}</a></li>
    </ul>
    <div class="filter hidden-xs">
      {% if is_plugin_installed('vip')%}
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="es-icon es-icon-crown text-warning"></i>
            {% if (currentLevelId == 'all') %}{{'explore.classroom.vip_name'|trans({'%name%':classroomName })}}{% endif %}
            {% for level in levels%}{% if (level.id == currentLevelId) %}{{level.name}}{% endif %}{% endfor %}
          </button>
          <ul class="dropdown-menu" role="menu">
          <li role="presentation"class="{% if (currentLevelId == 'all') %}active {% endif %}"><a href="{{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: price,currentLevelId: 'all'},orderBy: orderBy}) }}">{{'category.all_category'|trans}}</a></li>
          {% for level in levels %}
            <li role="presentation"class="{% if (level.id == currentLevelId) %}active {% endif %}"><a href="{{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: price,currentLevelId: level.id},orderBy: orderBy}) }}">{{level.name}}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      <label style="visibility: hidden" class="checkbox-inline hidden-xs">
        <input type="checkbox" {% if price == 'free'%}checked="true" {% endif %} id="free" value="
        {% if price == 'all'%}
          {{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: 'free',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% else %} 
          {{ path('classroom_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {price: 'all',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% endif %}
        "> {{'explore.classroom.free_name'|trans({'%name%':classroomName})}}
      </label>
    </div>

  <div class="filter-action visible-xs js-filter-action">
    <span>分类</span>
    <i class="es-icon es-icon-keyboardarrowdown"></i>
  </div>
</div>