{% set categories = data('Categories', {'group':'course', 'parentId': 0}) %}
<section class="o-home-sec js-common-course">
  <div class="container">
      <div class="m-home-sec__title pos-rel">{{config.title|default(config.defaultTitle|trans)}}
        <a href="{{ path('course_set_explore') }}" class="m-article-more">{{ 'site.default.more'|trans }}</a>
      </div>

    <div class="o-home-sec__bd">
      <div class="row js-tab-block-wrap">
        <div class="tab-block js-tab-sec is-active">
          {% set commonRecommendCourses = data('HomePublicCourses', {'count': 8}) %}
          {% if commonRecommendCourses %}
            {% for courseSet in commonRecommendCourses %}
              <div class="col-xs-6">
                <a class="m-home-course card-show m-ct-mbs" href="{{ path('course_set_show', {id: courseSet.id }) }}">
                  <div class="m-home-course__hd">
                    {{ lazy_img(filepath(course_set_cover(courseSet, 'large'), 'courseSet.png'), 'c-home-course__img', '', 'lazyload_course.png') }}
                  </div>
                  <div class="m-home-course__bd">
                    <div class="m-home-course__title">{{ courseSet.title|default() }}</div>
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</section>
