{% extends 'layout.html.twig' %}
{% set bodyClass = "h5-dashbord" %}
{% do script(['corporatetrainingbundle/js/h5/dashbord/index.js']) %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="h5-user-dashbord">
    <div class="user-dashbord-top pos-rel">
      <div class="user-dashbord-top__content clearfix">
        <img class="user-dashbord-top__avatar pull-left" src="{{ filepath(app.user.largeAvatar, 'avatar.png') }}">
        <div class="user-dashbord-top__info ct-mlm pull-left">
            <div class="user-dashbord-top__name">{{ app.user.nickname}}</div>
            <div class="user-dashbord-top__org">{{ orgNames }}</div>
        </div>
      </div>
      <a href="{{path('my_study_record')}}" class="user-dashbord-top__link pull-right">{{ 'to_view_study_center.department_manage.study_record'|trans }}</a>
    </div>
    <div class="user-dashbord-middle">
      <div class="user-dashbord-card">
         <div class="user-dashbord-card__tabs">
            <ul class="js-dashbord-tab">
              <li class="active" data-type="current">{{ 'teaching_record.this_year'|trans }}</li>
              <li data-type="last">{{ 'teaching_record.last_year'|trans }}</li>
              <li data-type="history">{{ 'study_center.department_manage.study_record_historry'|trans }}</li> 
            </ul>
         </div>
         <div class="user-dashbord-card__content">
            <div class="dashbord-card-info">
               <div class="dashbord-card-info__hd">{{ 'admin.data_center.user_data.online_learn_hours'|trans }}</div>
               <div class="dashbord-card-info__bd"><span class="js-on-line">{{thisYearTime.onlineTime}}</span>{{ 'site.date.hour'|trans }}</div>
            </div>
            <div class="dashbord-card-info">
               <div class="dashbord-card-info__hd">{{ 'admin.data_center.user_data.offline_learn_hours'|trans }}</div>
               <div class="dashbord-card-info__bd"><span class="js-off-line">{{thisYearTime.offlineTime}}</span>{{ 'site.date.hour'|trans }}</div>
            </div>
         </div>
      </div>
    </div>
    <div class="user-dashbord-bottom">
      <a href="{{path('study_center_my_tasks')}}" class="dashbord-list-item clearfix">
        <div class="pull-left dashbord-list-item__l">
          <i class="es-icon es-icon-mymission icon-txt"></i><span class="ct-mls">{{ 'study_center.nav.my_task'|trans }}</span>
        </div>
        <div class="pull-right dashbord-list-item__r">
          {% if taskCount > 0 %}<span class="dashbord-list-item__num">{{taskCount}}</span>{% endif %}<i class="es-icon es-icon-list"></i>
        </div>
        
      </a> 
      <a href="{{path('study_center_my_courses_learning')}}" class="dashbord-list-item clearfix">
        <div class="pull-left dashbord-list-item__l">
          <i class="es-icon es-icon-courselibrary icon-txt"></i><span class="ct-mls">{{ 'study_center.nav.my_courses'|trans }}</span>
        </div>
        <div class="pull-right dashbord-list-item__r">
          <i class="es-icon es-icon-list"></i>
        </div>
      </a> 
      <a href="{{path('study_center_my_department_courses')}}" class="dashbord-list-item clearfix">
        <div class="pull-left dashbord-list-item__l">
          <i class="es-icon es-icon-people icon-txt"></i><span class="ct-mls">{{ 'study_center.nav.department'|trans }}</span>
        </div>
        <div class="pull-right dashbord-list-item__r">
          <i class="es-icon es-icon-list"></i>
        </div>        
      </a> 
    </div>

    <div class="hidden js-current-year" data-on-line="{{thisYearTime.onlineTime}}" data-off-line="{{thisYearTime.offlineTime}}"></div>
    <div class="hidden js-last-year" data-on-line="{{lastYearTime.onlineTime}}" data-off-line="{{lastYearTime.offlineTime}}"></div>
    <div class="hidden js-history-year" data-on-line="{{totalTime.onlineTime}}" data-off-line="{{totalTime.offlineTime}}"></div>

  </div>
{% endblock %}
