{% extends 'offline-course-manage/layout.html.twig' %}

{% block title %}{{ 'offline_course.homework_reviewing'|trans }} - {{ parent() }}{% endblock %}
{% do script(['libs/select2.js', 'libs/bootstrap-treeview.js', 'corporatetrainingbundle/js/project-plan/offline-course-homework-list/index.js']) %}

{% set side_nav = 'homework' %}

{% block main %}
<div class="panel panel-default" role="offline-course-manage-base">
  <div class="panel-heading">{{ 'offline_course.homework_reviewing'|trans }}</div>
  <div class="panel-body">
    <form class="department-manage-search-form form-inline clearfix mbl" id="list-search" action="" method="post">
      <div class="form-group department-manage-search-form-group">
        <label>{{ 'project_plan.department_filter'|trans }}：</label>
        <div class=" department-manage-search-form-group__select">
          {% include 'org-select/index.html.twig' with {
            id: 'resource-orgCode',
            data: build_org_tree(['1.']),
            placeholder: 'admin.org.select_placeholder'|trans,
            treeName: 'orgIds',
            ids: orgIds|default(0),
          }
          %}
        </div>
      </div>

      <div class="form-group">
        <label>{{ 'form.placeholder.keyword'|trans }}：</label>
        <input type="text" id="username" name="username" class="form-control department-manage-search-form-group__info" value="{{ app.request.get('username') }}"
               placeholder="{{ 'project_plan.username_truename'|trans }}">
      </div>

      <div class="form-group department-manage-search-form-group">
        <label>{{ 'offline_course.attendance_status'|trans }}：</label>
        <select class="department-manage-search-form-group__type form-control" id="member-status" name="homeworkStatus">
          {{ select_options(dict('offlineCourseHomeworkStatus'), app.request.get('homeworkStatus') ? app.request.get('homeworkStatus') : 'all') }}
        </select>
      </div>

      <div>
        <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
        <button type="button" class="btn btn-primary js-exporter" data-url="{{ path('exporter_export', {type: 'project_plan_offline_course_homework_record', formSubmission: 'post' }) }}">{{'project_plan.btn.export_btn'|trans}}</button>
      </div>
      <input type="hidden" name="taskId" value="{{ offlineCourseTask.id }}">
      <input type="hidden" name="offlineCourseId" value="{{ offlineCourse.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
    <div class="table-responsive js-table-wrap mts data-list">
      {% include 'offline-course-manage/homework-manage/list.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}
