{% set applyStatus = data('ProjectPlanUserApplyStatus', {'projectPlanId':projectPlan.id, 'userId':app.user.id}) %}
<div class="c-project-plan {% if applyStatus =='reset' %}is-reset {% endif %}">
  <div class="c-project-plan__l">
    <a class="dis-blk" href="{{ path('project_plan_detail', {id: projectPlan.id}) }}">
      <img class="c-project-plan__img" src="{{ filepath(projectPlan['cover']['large']|default(''), 'project-plan.png') }}">
    </a>
  </div>
  <div class="c-project-plan__bd">
    <a class="c-project-plan__title" href="{{ path('project_plan_detail', {id: projectPlan.id}) }}">{{ projectPlan.name|default() }}</a>

      {% set category = data('Category', {'categoryId': projectPlan.categoryId}) %}
      {% if category|default('') %}
        <div class="c-project-plan__lab-wrap">
          <div class="c-project-plan__lab ct-label ct-label--theme">{{ category.name|default('')}}</div>
        </div>
      {% endif %}
    <div class="c-project-plan__info-wrap">
      <div class="c-project-plan__info">
        <div class="c-project-plan__info-l">
          {{ 'project_plan.project_plan_date'|trans }}：
        </div>
        <div class="c-project-plan__info-r">
          <span>{% if projectPlan.startTime %}{{ projectPlan.startTime|default('--')|date('Y-m-d')}}{% else %}--{% endif %} {{ 'project_plan.time_to'|trans }} {% if projectPlan.startTime %}{{ projectPlan.endTime|default('--')|date('Y-m-d') }}{% else %}--{% endif %}</span>
        </div>
      </div>
      <div class="c-project-plan__info">
        <div class="c-project-plan__info-l">
          {{ 'project_plan.preparation.base.enrollment_time'|trans }}：
        </div>
        <div class="c-project-plan__info-r">
          <span>{{ projectPlan.enrollmentStartDate|default('--')|date('Y-m-d')}} {{ 'project_plan.time_to'|trans }} {{ projectPlan.enrollmentEndDate|default('--')|date('Y-m-d')}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="c-project-plan__r">
    {% if projectPlan.requireEnrollment|default() %}
      {% if applyStatus == 'success' %}
        <div class="text-right"><img class="c-project-plan__status-img" src="{{ asset('status_img_success'|trans)}}"></div>
      {% else %}
        <div class="c-project-plan__num-wrap">
          <div class="c-project-plan__num">
            {% set studentNum= data('ProjectPlanMemberNum', {'projectPlanId': projectPlan.id})%}
            <span>{{studentNum|default(0) }}</span> / {% if  projectPlan.maxStudentNum|default(0) == 0%}{{ 'project_plan.any'|trans }}{% else %}{{projectPlan.maxStudentNum|default(0)}}{% endif %}
          </div>
          {% if applyStatus == 'enrollmentUnOpen' %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'project_plan.detail.enrollment_unopen'|trans }}</a>
          {% elseif projectPlan.canAccess|default() == false %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'resource.not_open_for_you'|trans }}</a>
          {% elseif applyStatus == 'enrollmentEnd' %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'project_plan.detail.enrollment_end'|trans }}</a>
          {% elseif applyStatus == 'enrollmentUnStart' %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'project_plan.detail.enrollment_unstart'|trans }}</a>
          {% elseif applyStatus == 'enrollAble' %}
            <a class="c-project-plan__btn btn btn-primary" href="#modal" data-toggle="modal" data-url="{{ path('project_plan_enroll', {id: projectPlan.id}) }}">{{ 'project_plan.detail.btn_apply'|trans }}</a>
          {% elseif applyStatus == 'submitted' %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'project_plan.detail.submitted'|trans }}</a>
          {% elseif applyStatus == 'enrollUnable' %}
            <a class="c-project-plan__btn btn btn-default disabled" href="javascript:;">{{ 'project_plan.detail.enroll_unable'|trans }}</a>
          {% elseif applyStatus == 'reset' %}
            <a class="c-project-plan__btn btn btn-primary" href="#modal" data-toggle="modal" data-url="{{ path('project_plan_enroll', {id: projectPlan.id}) }}">{{ 'project_plan.detail.reset'|trans }}</a>
          {% endif %}

        </div>

        {% if applyStatus == 'reset' %}        
          <img class="c-project-plan__status-img" src="{{ asset('sys_status_img_fail'|trans)}}">
        {% endif %}
      {% endif %}
    {% endif %}

  </div>
</div>
