{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_course_manage' %}

{% do script(['libs/select2.js','corporatetrainingbundle/js/admin/org-select/index.js']) %}
{% set script_controller = 'course/manage' %}
{% block page_buttons %}
{% endblock %}
{% block main %}
  {% include 'admin/course-set/tab.html.twig' %}

  <div class="ct-well mtl  ct-mbl">
    <form id="course-set-search-form" class="form-inline js-data-search" action="" method="post" novalidate>
      <div class="form-group prl">
        {% include 'org-select/index.html.twig' with {
          id: 'resource-orgCode',
          data: build_org_tree(app.user.manageOrgCodes),
          placeholder: 'admin.org.select_placeholder'|trans,
          treeName: 'orgIds',
          ids: orgIds|default(0),
        }
        %}
      </div>

      <div class="form-group prl">
        <select style="max-width:150px;" class="form-control" name="categoryId">
          {{ select_options(category_choices('course'), app.request.get('categoryId'), 'admin.course_manage.category_placeholder'|trans) }}
        </select>
      </div>
      <div class="form-group prl">
        <select class="form-control" name="status">
          {{ select_options(dict('courseStatus'), app.request.get('status'), 'admin.course_manage.manage.status_placeholder'|trans) }}
        </select>
      </div>

      <div class="form-group prl">
        <input class="form-control" type="text" placeholder="{{ 'admin.course_manage.title_placeholder'|trans }}" name="title" value="{{ app.request.get('title') }}">
      </div>
      <div class="form-group prl">
        <input class="form-control" type="text" placeholder="{{ 'admin.course_manage.creator_placeholer'|trans }}" name="creatorName" value="{{ app.request.get('creatorName') }}">
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      <div class="form-group prl">
        <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
      </div>
      {% include 'admin/page-buttons/page-buttons.html.twig' %}
      {% include 'admin/widget/tooltip-widget.html.twig' with { icon: 'glyphicon-question-sign', content: 'admin.course_manage.manage.course_tips'|trans|raw, placement: 'left'} %}
    </form>
  </div>
  
  <p class="text-muted">
    <span class="mrl">{{ 'admin.course_manage.manage.count'|trans({'%courseNum%':courseSetStatusNum.total})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.published_count'|trans({'%publishedNum%':courseSetStatusNum.published})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.closed_count'|trans({'%closedNum%':courseSetStatusNum.closed})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.unpublish_count'|trans({'%unPublishedNum%':courseSetStatusNum.draft})|raw }}</span>
  </p>

  <div class="table table-striped data-list">
    {% include 'admin/course-set/list-table.html.twig'%}
  </div>
{% endblock %}
