{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_course_manage' %}

{% do script(['libs/select2.js','corporatetrainingbundle/js/admin/org-select/index.js']) %}
{% set script_controller = 'course/manage' %}
{% block page_buttons %}
{% endblock %}
{% block main %}
  {% include 'admin/course-set/tab.html.twig' %}
  <br>
  <div class="ct-well mtl  ct-mbl">
    <form id="message-search-form" class="form-inline" action="" method="post" novalidate>
      <div class="form-group prl">
        {% include 'org-select/index.html.twig' with {
        id: 'resource-orgCode',
        data: build_org_tree(app.user.manageOrgCodes),
        placeholder: 'admin.org.select_placeholder'|trans,
        treeName: 'orgIds',
        ids: orgIds|default(0),
        }
        %}
      </div>

      <div class="form-group prl">
        <select style="max-width:150px;" class="form-control" name="categoryId">
          {{ select_options(category_choices('course'), app.request.get('categoryId'), 'admin.course_manage.category_placeholder'|trans) }}
        </select>
      </div>
      <div class="form-group prl">
        <select class="form-control" name="status">
          {{ select_options(dict('courseStatus'), app.request.get('status'), 'admin.course_manage.manage.status_placeholder'|trans) }}
        </select>
      </div>
      <div class="form-group prl">
        <select class="form-control" name="leaseStatus">
          {{ select_options(dict('leaseStatus'), app.request.get('leaseStatus'), 'admin.course_manage.manage.lease_course.status'|trans) }}
        </select>
      </div>

      <div class="form-group prl">
        <select class="form-control" name="keywordType">
          {{ select_options(dict('leaseCourseKeywordType'), app.request.get('keywordType')) }}
        </select>
      </div>

      <div class="form-group prl">
        <input class="form-control" type="text" placeholder="{{ 'admin.course_manage.manage.lease_course.search_keyword_placeholder'|trans }}" name="keyword" value="{{ app.request.get('keyword') }}">
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      <div class="form-group prl">
        <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
      </div>
    </form>
  </div>

  <p class="text-muted">
    <span class="mrl">{{ 'admin.course_manage.manage.count'|trans({'%courseNum%':courseSetStatusNum.total})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.published_count'|trans({'%publishedNum%':courseSetStatusNum.published})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.closed_count'|trans({'%closedNum%':courseSetStatusNum.closed})|raw }}</span>
    <span class="mrl">{{ 'admin.course_manage.manage.unpublish_count'|trans({'%unPublishedNum%':courseSetStatusNum.draft})|raw }}</span>
  </p>

  <div class="table table-striped data-list">
    <table class="table table-striped table-hover" id="course-table" style="word-break:break-all;">
      <thead>
      <tr>
        {% if setting('magic.enable_org','0') %}
          <th><input type="checkbox"  data-role="batch-select"></th>
        {% endif %}
        <th width="5%">{{ 'admin.course_manage.manage.number'|trans }}</th>
        <th width="20%">{{ 'admin.course_manage.manage.name'|trans }}</th>
        <th width="">{{ 'admin.course_manage.manage.lease_course.resourceCode'|trans }}</th>
        {% include 'org/parts/table-thead-tr.html.twig' %}
        <th width="10%">{{ 'admin.course_manage.use_record'|trans }}</th>
        <th width="10%">{{ 'admin.course_manage.manage.student_number'|trans }}</th>
        <th width="10%">{{ 'admin.course_manage.manage.status'|trans }}</th>
        <th width="10%">{{ 'admin.course_manage.manage.lease_course.deadline'|trans }}</th>
        <th width="8%">{{ 'admin.course_manage.manage.lease_course.status'|trans }}</th>
        <th>{{'admin.course_manage.operater'|trans}}</th>
      </tr>
      </thead>
      <tbody>
      {% for courseSet in courseSets %}
        {% set category = categories[courseSet.categoryId]|default(null) %}

        {% import "common/data-dict-macro.html.twig" as dict_macro %}
        {% set target = ''~filter~'_index' %}
        {% include 'CorporateTrainingBundle::admin/course-set/lease-course-tr.html.twig' %}
      {% else %}
        <tr>
          <td colspan="20">
            <div class="empty">{{'admin.course_manage.manage.empty'|trans}}</div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> {{ 'site.btn.all_select'|trans }}</label>
      <a class="btn btn-default btn-sm mlm " id="batch-update-org" data-form-id="course-table" data-toggle="modal" data-generate="{{'true'|default(false)}}" data-target="#modal" data-url="{{path('admin_batch_update_org',{module:'courseSet'})}}">{{ 'site.org.setup'|trans }}</a>
    </div>

    <nav class="text-center">
      {{ admin_macro.paginator(paginator) }}
    </nav>
  </div>
{% endblock %}
