{% import "study-center/widget/macro.html.twig" as macro %}
<div class="c-project-item js-project-item">
  <div class="c-project-item__hd">
    <a class="js-project-item-toggle-btn" href="javascript:;">
      <div class="c-project-item__content">
        {% set exam = data('Exam',{ examId:projectPlanItem.targetId }) %}
        {% set examResult = data('ExamResult', {examId: exam.id|default(0)}) %}
        <i class="c-project-item__icon es-icon es-icon-Online_Exam {% if examResult|default('') %}color-primary{% endif %}"></i>
        {{ exam.name|default('')}}
        <span class="c-project-item-lesson__"></span>

        <div class="c-project-item__hover">
          {% if projectPlanItem.startTime|default(0) %}
            {% set isSameDay = is_same_day(projectPlanItem.startTime, projectPlanItem.endTime) %}
            <span class="c-project-item__time">
              {% if isSameDay %}
                {{ projectPlanItem.startTime|date('Y-m-d') }}
              {% else %}
                {{ projectPlanItem.startTime|date('Y-m-d') }} {{ 'project_plan.time_to'|trans }} {{ projectPlanItem.endTime|date('Y-m-d') }}
              {% endif %}
            </span>
          {% endif %}
          <i class="c-project-item__toggle-btn es-icon js-remove-icon es-icon-anonymous-iconfont"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="c-project-item__bd js-project-item__bd" style="display: none;">
  <ul class="">
    {% if courseItems|default() %}
      {% set testPaper = data('TestPaper', {testPaperId: exam.testPaperId}) %}
        {% if member.status|default('') == 'notStart' and currentTime < exam.endTime and currentTime > exam.startTime %}
          <a href="{{ path('exam_show',{id:exam.id}) }}" target="_blank">
            {% include 'study-center/widget/exam-item-status.html.twig' %}
          </a>
        {% elseif member.status|default('') == 'doing'  %}
          <a href="{{ path('exam_do',{id:exam.id}) }}" target="_blank">
            {% include 'study-center/widget/exam-item-status.html.twig' %}
          </a>
        {% elseif member.status|default('') == 'finished' and exam.resitTimes <= member.finishedCount and exam.resitTimes > 0  %}
          <a href="{{ path('exam_result_show', {resultId: member.resultId}) }}" target="_blank">
            {% include 'study-center/widget/exam-item-status.html.twig' %}
          </a>
        {% else %}
          {% include 'study-center/widget/exam-item-status.html.twig' %}
        {% endif %}
    {% else %}
      <div class="empty">{{'project_plan.empty'|trans}}</div>
    {% endif %}
    </ul>
  </div>
</div>

