{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','corporatetrainingbundle/js/login/admin-complete-info/index.js']) %}

{% block body %}
  <div class="admin-set">
    <div class="admin-set__head">
      <div class="admin-set__tip">
        设置站点信息
      </div>
      <div class="admin-set__line"></div>
    </div>
    <div class="admin-set__body">
      <form class="form-horizontal" id="admin-complete-info-form" action="{{ path('site_info_set') }}" method="post">
        <div class="form-group">
          <div class="hidden"><label class="control-label" for="companyName">公司名称</label></div>
          <div class="controls"><input class="form-control" type="text" name="companyName" placeholder="公司名称" value="{{ setting.name|default() }}"></div>
        </div>
        <div class="form-group">
          <div class="hidden"><label class="control-label" for="province"></label></div>
          <div class="controls clearfix">
            <div class="admin-set__select-wrap pull-left">
              <div class="ct-select">
                <select class="form-control" id="province" name="province" value="">
                  <option value="">{{ city|default()?provinces[city.parentId].name:'省'|trans}}</option>
                    {% for province in provinces %}
                    <option value="{{ province.id }}">{{province.name|trans}}</option>
                  {% endfor %}
                </select>
                <i class="es-icon es-icon-keyboardarrowdown"></i>
              </div>
            </div>
            <div class="admin-set__select-wrap pull-right">
              <div class="ct-select">
                <select class="form-control" id="city" name="city" data-url="{{ path('area_search') }}" value="">
                  <option value="">{{ city.name|default('市')|trans}}</option>
                </select>
                <i class="es-icon es-icon-keyboardarrowdown"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="ct-select">
            <select class="form-control" name="industry" style="text-align: center">
                {{ select_options(dict('industry'), app.request.query.get('industry'),'行业'|trans) }}
            </select>
            <i class="es-icon es-icon-keyboardarrowdown"></i>
          </div>
        </div>
        <div class="form-group">
          <div class="hidden"><label class="control-label" for="employeeNumber">员工人数</label></div>
          <div class="controls"><input class="form-control" type="text" name="employeeNumber" placeholder="员工人数"></div>
        </div>
        <div class="admin-set__next-wrap">
          <button class="ct-btn ct-btn-primary admin-set__next" id="form-submit" type="submit" href="">确认提交</button>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
  </div>
{% endblock %}