{% set settings = setting('login_bind', []) %}
{% set otherClients = [] %}
{% if setting('login_bind.enabled') and setting('login_bind.only_third_party_login')%}
  <div class="form-group text-center">
    <div class="text-12 login-entrance-divide" style="margin-top: -1px">{{ 'login.oauth2_logins_block.login_entrance_divide'|trans }}
    </div>
    <div style="margin-top: 70px">
      {% set enabled  = settings.weixinweb_enabled and settings.dingtalkweb_enabled%}
      {% for type, client in clients if (settings[type ~ '_enabled']|default(false) and type != 'weixinmob' and client.icon_class|default(null)) %}
        {% if type in ['weibo', 'renren', 'qq', 'weixinweb', 'dingtalkweb'] %}
          <a href="{{ path('login_bind', {type: type, _target_path:targetPath|default(''),inviteCode:app.request.get('inviteCode', '')}) }}" >
            <i class="es-icon es-icon-{{ client.icon_class }} login-entrance-icon-only {% if enabled %}login-entrance-icon-only--{{  client.icon_class}}{% else %}login-entrance-icon--{{  client.icon_class}}{% endif %}"></i>
          </a>
        {% else %}
          {% set otherClients = otherClients|merge({(type):client}) %}
        {% endif %}

      {% endfor %}
    </div>
    {% if otherClients %}
      <a href="javascript:;" class="social-icon social-more" data-toggle="dropdown"><i class="es-icon es-icon-morehoriz"></i></a>
      <div class="dropdown-menu pull-right">
        {% for type, client in otherClients %}
          <li><a href="{{ path('login_bind', {type: type, _target_path:targetPath|default(''),inviteCode:app.request.get('inviteCode', '')}) }}">{{ client.name }}</a></li>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="form-group text-center">
    <div class="text-12 login-entrance-divide">{{ 'login.oauth2_logins_block.login_entrance_divide'|trans }}
    </div>

    {% for type, client in clients if (settings[type ~ '_enabled']|default(false) and type != 'weixinmob' and client.icon_class|default(null)) %}
      {% if type in ['weibo', 'renren', 'qq', 'weixinweb', 'dingtalkweb'] %}
        <a href="{{ path('login_bind', {type: type, _target_path:targetPath|default(''),inviteCode:app.request.get('inviteCode', '')}) }}" >
          <i class="es-icon es-icon-{{ client.icon_class }} login-entrance-icon login-entrance-icon--{{  client.icon_class}}"></i>
        </a>
      {% else %}
        {% set otherClients = otherClients|merge({(type):client}) %}
      {% endif %}

    {% endfor %}

    {% if otherClients %}
      <a href="javascript:;" class="social-icon social-more" data-toggle="dropdown"><i class="es-icon es-icon-morehoriz"></i></a>
      <div class="dropdown-menu pull-right">
        {% for type, client in otherClients %}
          <li><a href="{{ path('login_bind', {type: type, _target_path:targetPath|default(''),inviteCode:app.request.get('inviteCode', '')}) }}">{{ client.name }}</a></li>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
