{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['libs/jquery-validation.js', 'corporatetrainingbundle/js/project-plan/verify-enrollment-apply/index.js']) %}
{% set modalSize = 'large' %}
{% block title %}{{ 'project_plan.review'|trans }}{% endblock %}
{% block body %}
	<form class="form-horizontal" id="enrollment-verify-form"
	      action="{{ path('project_plan_enrollment_verify', {'id':record.id }) }}">
		<div class="form-group">
			<div class="col-md-2 control-label">
				<label for="verify-status">{{ 'project_plan.review_result'|trans }}:</label>
			</div>
			<div class="col-md-8 radios">
				{{ radios('verifyStatus', {'approved':'project_plan.pass'|trans, 'rejected':'project_plan.status.unpass'|trans}, record.verifyStatus|default('approved')) }}
			</div>
		</div>
		<div class="form-group js-reason hidden row">
			<div class="col-md-2 control-label">
				<label for="reject-reason">{{ 'project_plan.reason'|trans({'%reason%': ''}) }}</label>
			</div>
			<div class="col-md-8 controls">
				<textarea id="reject-reason" name="rejectedReason" class="form-control" rows="5"></textarea>
			</div>
		</div>

	</form>

{% endblock %}
{% block footer %}
	<button id="server-create-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}" type="submit"
	        class="btn btn-primary pull-right js-save-btn" data-toggle="form-submit"
	        data-loading-text="{{ 'project_plan.btn.save_loading_btn'|trans }}">{{ 'project_plan.btn.ok_btn'|trans }}</button>
	<button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}
