{% extends 'layout.html.twig' %}

{% block body %}
  {% block header %}{% endblock %}


  {% block full_content %}
    {% block top_content %}{% endblock %}
      <div class="sign-in-qr-code">
        <h2>{{course.title|trans}}-{{ task.title|trans }}</h2>
        <img class="qr-code-img" src="{{ path('project_plan_offline_course_task_do_survey_qrcode', {surveyId: surveyId, projectPlanId: projectPlanId, taskId: task.id}) }}">
        <p class="gray-medium sign-in-info">{{'offline_course.qr_do_suevey'|trans}}</p>
        {% if setting('site.loginLogo') %}
          <div class="login-logo-wrap text-center">
            <img class="login-logo" src="{{ filepath('../' ~ setting('site.loginLogo'),'') }}">
          </div>
        {% else %}
          <div class="login-logo-wrap text-center">
            <img class="login-logo" src="/assets/img/logo/login_logo.png">
          </div>
        {% endif %}
      </div>
    {% block bottom_content %}{% endblock %}
  {% endblock %}

  {% block footer %}{% endblock %}
{% endblock %}
