{% import "macro.html.twig" as web_macro %}

<table class="table table-hover table-striped" id="post-member-table">
  <thead>
  <tr>
    <th width="40%">{{ 'study_center.course_statistics.course_category'|trans }}</th>
    <th width="15%">{{ 'my.department.course_learn_data.learn_person_num'|trans }}</th>
    <th width="15%">{{ 'my.department.course_learn_data.finish_course_task_num'|trans }}</th>
    <th width="15%">{{ 'my.department.course_learn_data.finish_course_num'|trans }}</th>
    <th width="15%">{{ 'my.department.user_learn_data.learn_time'|trans }}</th>
  </tr>
  </thead>
  <tbody>
  {% if categories|default(null) %}
    {% for category in categories %}
      {% set learnRecord = learnRecords[category.id]|default('') %}
      <tr>
        <td>{{ category.name|default('') }}</td>
        <td>{{ learnRecord.learnUserNum|default(0) }}</td>
        <td>{{ learnRecord.totalFinishedTaskNum|default(0) }}</td>
        <td>{{ learnRecord.finishedCourseNum|default(0) }}</td>
        <td>{{ learnRecord.totalLearnTime|default(0)|time_format_hour }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="20">
        <div class="empty">{{ 'site.datagrid.empty'|trans }}</div>
      </td>
    </tr>
  {% endif %}
  </tbody>
</table>
{{ web_macro.ajax_paginator(paginator) }}
